# PHP CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-php/ for more details
#
version: 2
jobs:
  test:
    docker:
      - image: circleci/php:7.3-node-browsers

    steps:
      - checkout

      - run: sudo apt update # PHP CircleCI 2.0 Configuration File# PHP CircleCI 2.0 Configuration File sudo apt install zlib1g-dev libsqlite3-dev
      - run: sudo docker-php-ext-install zip

      # Download and cache dependencies
      - restore_cache:
          keys:
            # "composer.lock" can be used if it is committed to the repo
            - v1-dependencies-{{ checksum "composer.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: composer install -n --prefer-dist

      - save_cache:
          key: v1-dependencies-{{ checksum "composer.json" }}
          paths:
            - ./vendor
      - restore_cache:
          keys:
            - node-v1-{{ checksum "package.json" }}
            - node-v1-
      - run: npm ci
      - save_cache:
          key: node-v1-{{ checksum "package.json" }}
          paths:
            - node_modules

      # Run tests with PHPCS
      - run: npm run lint
      # Ensure build succeeds
      - run: npm run build
  deploy_plugin_staging:
    docker:
      - image: circleci/php:7.3-node-browsers
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "c0:36:87:5e:a5:8f:b7:6e:62:d0:3e:3f:de:56:06:56"
      - run:
          name: "Build plugin"
          command: |
            npm ci
            npm run build
            composer install --no-dev --optimize-autoloader
      - run: sudo apt-get install -y lftp
      - run: lftp -c 'set sftp:auto-confirm yes; set sftp:connect-program "ssh -p 22222 -a -x -i ~/.ssh/id_rsa"; connect sftp://'"$SFTP_USERNAME"':'"$SFTP_PASSWORD"'@'"$SFTP_HOSTNAME"' -e "mirror -v -R --exclude assets/ --exclude config/ --exclude node_modules/ --exclude tests/ --exclude .git/ --exclude .circleci/ ./ '"$WEB_ROOT_STAGING"'/wp-content/plugins/'"$PLUGIN_NAME"'; quit"'
  deploy_plugin_production:
    docker:
      - image: circleci/php:7.3-node-browsers
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "c0:36:87:5e:a5:8f:b7:6e:62:d0:3e:3f:de:56:06:56"
      - run:
          name: "Build plugin"
          command: |
            npm ci
            npm run build
            composer install --no-dev --optimize-autoloader
      - run: sudo apt-get install -y lftp
      - run: lftp -c 'set sftp:auto-confirm yes; set sftp:connect-program "ssh -p 22222 -a -x -i ~/.ssh/id_rsa"; connect sftp://'"$SFTP_USERNAME"':'"$SFTP_PASSWORD"'@'"$SFTP_HOSTNAME"' -e "mirror -v -R --exclude assets/ --exclude config/ --exclude node_modules/ --exclude tests/ --exclude .git/ --exclude .circleci/ ./ '"$WEB_ROOT_PRODUCTION"'/wp-content/plugins/'"$PLUGIN_NAME"'; quit"'

workflows:
  version: 2
  test_and_deploy:
    jobs:
      - test
      - deploy_plugin_staging:
          requires:
            - test
          filters:
            branches:
              only: dev
      # - deploy_plugin_production:
      #     requires:
      #       - test
      #     filters:
      #       branches:
      #         only: master
