/**
 * CoopLibraryFramework - Admin Styles
 */

:root {
	--red: #dc3232;
}

#dashboard_right_now li a.cpt-lc_resource-count::before {
	content: "\f480";
}


#validation-message ul {
	list-style: disc;
	padding-left: 14px;
}

#validation-message a,
#titlewrap .error {
	color: var(--red);
}

.acf-fields > .acf-field.acf-field-hidden {
	border: 0;
	margin: 0;
	padding: 0;
}

.acf-field.acf-field-hidden .acf-label {
	display: none;
}
