/**
 * CoopLibraryFramework - Admin Styles
 */

:root {
	--red: #dc3232;
}

#dashboard_right_now li a.cpt-lc_resource-count::before {
	content: "\f480";
}

.cmb-required .cmb-th label::after {
	content: "*";
}

#validation-message ul {
	list-style: disc;
	padding-left: 14px;
}

#validation-message a,
.cmb-td .error,
#titlewrap .error {
	color: var(--red);
}

.cmb2-char-counter-wrap input[type="text"] {
	width: 2.5rem !important;
}
